.slider h3,
.slider h5,
.clientsh3 {
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

.parallax-container {
    height: 20%;
}

.parallax img {
    filter: grayscale(1);
    opacity: 0.5 !important;
}

.store img {
    max-width: 150px;
    filter: drop-shadow(1px 1px 1px rgba(0,0,0,o.8));
}

section, footer {
    padding: 5px 0;
}


.program {
    margin-bottom: 50px;
}


.clear {
    clear: both;
}